extends base

block content
    main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Password
      form.form.form--ResetPassword
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#passwordR.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') New Password Confirm
          input#passwordNR.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button#forgotPassword(type='submit',data-token=resetToken).btn.btn--green Change Password